/* Default settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
    list-style: none;

}

img {
    max-width: 100%;
    display: block;
}


a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}
/* palette colori */

:root {
    --blue:#0084FD;
    --light-blue:#B5DDFF;
    --purple:#9792E4;
    --yellow:#FDC15F;
    --dark-grey:#333333;
    --light:#FFFFFF;

}
/* layouts */

.container {
    max-width: 1164px;
    margin: 0 auto;
    width: 100%;
}

.container-medium {
    max-width: 1050px;
    margin: 0 auto;
    width: 100%;
}

.container-small {
    max-width: 880px;
    margin: 0 auto;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-12 {
    flex-basis: calc((100% / 12) * 12);
}
.row > [class^='col'] {
    padding: 0 14px;
}
.row.no-gutter [class^='col'] {
    padding-left: 0;
	padding-right: 0;
}
/* utility classes */
.margin-right{
    margin-right: 5px;
}
.padding-bottom-60 {
    padding-bottom: 60px;
}


.justify-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}
.align-items-start {
    align-items: flex-start;
}
.align-self-end{
    align-self: flex-end;
}
.section-padding{
    padding-top: 50px;
}
.section-padding-120px{
    padding-top: 120px;
}
.title-padding{
    padding-top: 100px;
    padding-bottom: 34px;
}

.padding-figure{
    padding-top: 30px;
    padding-right: 55px;
    padding-bottom: 45px;
    padding-left: 15px;
}
/* utility classes per il testo  */
.text-uppercase{
    text-transform: uppercase;
}
.text-xs{
    font-size: 18px;
}
.text-medium{
    font-size: 30px;
}
.text-large{
    font-size: 40px;
}
.bold {
    font-weight: 700;
}
.line-height-1_8{
    line-height: 1.8;
}
.text-aling-center{
    text-align: center;
}
.text-color-white{
    color: white;
}
.text-color-blue {
    color: var(--blue);
}
.text-color-black{
    color: black;
}
.text-color-purple{
    color: var(--purple);
}
.bg-purple{
    background-color: var(--purple);
}
.bg-white{
    background-color: white;
}
/* component classes */

.button {
    color: black;
    line-height: 40px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 0 18px;
}
.button-blue{
    background-color: var(--blue);
    color: white;
}
.button-circle {
    border-radius: 50% 50%;
    padding: 10px;
    aspect-ratio: 1;
    width: 50px;
}


/* card  */
.card {
    border-radius: 20px;
}
/* header */
.page-header {
    background-color: var(--blue);
    padding: 25px 0;
}

.navbar-list {
    display: flex;
    gap: 22px;
    align-items: center;
    
}
.hamburger-menu{
    display: none;
}
.card-hero-icon{
    font-size: 70px;
}
/* Hero section  */
.hero {
    padding-bottom: 106px;
}
.card-hero {
    background-color: var(--light-blue);
    border-radius: 20px;
    /* padding: 25px; */
    line-height: 2em;
    height: 100%;
    padding: 25px 25px 0 25px;
    
    
   
}
.card-hero-text{
    display: flex;
    flex-direction: column;
    gap: 25px;
    /* margin: 25px; */
}
.card-hero-img {
    display: flex;
    align-items: flex-end;

   
}
.card-hero-img img {
    width: 100%;
    max-width: 254px;
    margin: 0 auto;
}
/* Strategic plan  */
.strategic-plan__card {
    display: flex;
    flex-direction: column;
    gap: 22px;
    align-items: center;
    padding: 20px;
}
/* Testimonial section  */
.testimonial-section-intro {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.card-testimonials{
    display: flex;
}
.testimonial-img{
    border-radius: 50%;
    width: 200px;
    aspect-ratio: 1;
    object-fit: cover;
    /* padding: 10px; */
}
.card-testimonials__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
.figure-testimonials{
    flex-shrink: 0;
}
/* Media query  */

/* Tablet  */
@media screen and (max-width: 767.98px) {
    .hamburger-menu {
        display: flex;
        font-size: 32px;
    }
    .navbar-list {
        display: none;
    }
   .hero .col-6,
   .col-6 {
    flex-basis: 100%;
   }
   .card-hero-img {
    padding: 0 24px;

   }
   .card-hero-img img {
    margin: unset;
   }
   .card-testimonials__text{
    flex-basis: auto;
   }
   .padding-figure{
    padding-top: 30px;
    padding-right: 25px;
    padding-bottom: 45px;
    padding-left: 15px;
    }
   
}
/* Mobile  */
@media screen and  (max-width: 575.98px) {
    .row > [class^='col-'] {
        flex-basis: 100%;
    }
    .hero {
        padding-bottom: 50px;
        
    }
    .card-hero-img img{
        margin: 0 auto;
    }
    .padding-figure{
        padding-right: 0px;
        padding-left: 0px;
    }
    .card-testimonials {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 35px;
    }
}   
/* debug */

.debug .container,
 .debug .container-medium,
 .debug .container-small  {
    border: 1px solid var(--yellow);
    padding: 10px;
}

.debug .row {
    border: 1px solid var(--purple);
    padding: 10px;
}
.debug [class^="col"] {
    border: 1px solid orange;
    padding: 10px;
}



